*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    margin: 100px auto;
    background-color: aquamarine;
    justify-content: space-between;  
}
.box1{
    background-color: red;
    padding: 50px;
}
.box2{
    display: flex;
    gap: 50px;
}
.left{
    background-color: purple;
    padding: 50px;
    width: 30%;
    height: 500px;
}
.right{
    background-color: maroon;
    padding: 50px;
    width: 70%;
    height: 500px;
    display: flex;
    gap: 50px;
    align-items: flex-end;
}
.box3{
    background-color: green;
    padding: 50px;
}
.box4{
    background-color: blue;
    padding: 50px;
}
.b1{
    background-color: black;
    height: 200px;
    width: 200px;

}